.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(0deg, rgba(6,21,82,1) 0%, rgba(183,135,236,1) 100%);
}

.title{
    font-size: 8rem;
    color: #fff;
    animation: flipTitle 2s;
}

@keyframes flipTitle {
    from {
        transform: rotateX(90deg);
    } to {
        transform: rotateX(0deg);
    }
}

.inputContainer{
    background-color: rgba(255,255,255, 0.2);
    padding: 0.5rem 1rem;
    display: flex;
    border-radius: 1rem;
    box-shadow: 1px 3px 8px rgba(0,0,0, 0.5);
}

.inputContainer input{
    background-color: transparent;
    border: 0;
    font-size: 1rem;
    color: #fff;
    outline: none;
    margin-right: 8px;
}

.inputContainer input::placeholder{
    color: #F1F1F1
}

.buttonSearch{
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.5;

}

.buttonSearch:hover{
    transform: scale(1.2);
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    width: 50rem;
    border-radius: 8px;
    margin-top: 2rem;
}

.main h2{
    margin: 1rem 0;
    font-size: 2rem;
}

.main span{
    margin-bottom: 1rem;
    font-weight: bold;
}

@media (max-width:1090px){
    .title{
        font-size: 4rem;
    }

    .main h2{
        font-size: 1rem;
    }
    
    .main{
        width: 80%;
        min-height: 9rem;
    }
}